@import '~@angular/material/theming';
@include mat-core();

$site-primary: mat-palette($mat-indigo);
$site-accent: mat-palette($mat-pink, A200, A100, A400);
$site-warn: mat-palette($mat-red);

$site-theme: mat-light-theme((
  color: (
    primary: $site-primary,
    accent: $site-accent,
    warn: $site-warn,
  )
));

@include angular-material-theme($site-theme);

html, body {
  height: 100%;
  overflow-y: unset;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  color: #333;
  background: rgb(251, 251, 251);
  background: radial-gradient(
    circle,
    rgba(251, 251, 251, 1) 0%,
    rgba(251, 251, 251, 1) 100%
  );
}
.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}
