@mixin cell-bordered {
    border: 1px solid #eee;
    box-sizing: border-box;
    margin: 0 -1px -1px 0;
}

.shift-table {
    display: grid;
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    margin: 0 1px 1px 0;
    & > * {
        box-sizing: border-box;
    }
    & > .shift-date > .date-label, & > .shift-day {
        font-size: 1.2em;
        color: #c3c3c3;
    }
    & > .shift-day {
        place-self: center;
    }
    & > .shift-date {
        @include cell-bordered;
        display: grid;
        grid-template-rows: 40px auto;
        grid-template-columns: 40px auto;
        & > .date-label {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-self: center;
            place-self: center;
        }
        & > .date-content {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            padding: 12px;
        }
    }
}

.shift-employee-week-table {
    overflow: auto;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;

    & > .shift-table-employees, & > .shift-table-shifts {
        display: grid;
        grid-auto-rows: 40px;
    }
    & > .shift-table-employees {
        position: sticky;
        left: 0;
        & > * {
          align-self: center;
          white-space: nowrap;
        }
    }
}

.shift-week-table {
    grid-template-rows: 40px 300px;
}

.shift-month-table {
    grid-template-rows: 40px repeat(2, 140px);
}
